/* --------------------------------------------------- *\
	_fonts
\* --------------------------------------------------- */
@font-face {
    font-family: 'fabrica';
    src: url('../fonts/fabrica/fabrica-webfont.eot');
    src: url('../fonts/fabrica/fabrica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fabrica/fabrica-webfont.woff2') format('woff2'),
         url('../fonts/fabrica/fabrica-webfont.woff') format('woff'),
         url('../fonts/fabrica/fabrica-webfont.ttf') format('truetype'),
         url('../fonts/fabrica/fabrica-webfont.svg#fabrica') format('svg');
    font-weight: normal;
    font-style: normal;

}





/* --------------------------------------------------- *\
	_general
\* --------------------------------------------------- */
body {
	background-color: #ffffff;
	margin: 0;
	font: normal 100% sans-serif;
}





/* --------------------------------------------------- *\
	_hero
\* --------------------------------------------------- */
#hero {
	width: 100%;
	height: 100vh;
	position: fixed;
	background-image: url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	top: 0;
}





/* --------------------------------------------------- *\
	_header
\* --------------------------------------------------- */
header h1 {
	position: absolute;
	text-align: center;
	color: #fff;
	width: 17em;
	margin: 0 auto;
	font-size: 2.5em;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}





/* --------------------------------------------------- *\
	_main
\* --------------------------------------------------- */
main {
	margin-top: 100vh;
	z-index: 1;
	position: relative;
	background-color: #fff;
}