/* --------------------------------------------------- *\
	_fonts
\* --------------------------------------------------- */
@font-face {
    font-family: 'fabrica';
    src: url('../fonts/fabrica/fabrica-webfont.eot');
    src: url('../fonts/fabrica/fabrica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fabrica/fabrica-webfont.woff2') format('woff2'),
         url('../fonts/fabrica/fabrica-webfont.woff') format('woff'),
         url('../fonts/fabrica/fabrica-webfont.ttf') format('truetype'),
         url('../fonts/fabrica/fabrica-webfont.svg#fabrica') format('svg');
    font-weight: normal;
    font-style: normal;
}





/* --------------------------------------------------- *\
	_general
\* --------------------------------------------------- */
* {
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	margin: 0;
	font: normal 100% sans-serif;
	text-align: center;
	color: #333;
}

h1, h2, h3 {
	font-family: Montserrat, sans-serif;
	margin: 0;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
	line-height: 1.6;
}

h3 {
	font-size: 3.4em;
	color: #4D9E90;
	line-height: 1;
}

p {
	font-size: 1.3em;
	font-family: fabrica, sans-serif;
	line-height: 1.6;
	margin: 0;
	text-align: left;
}

p + p {
	margin-top: 1em;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	padding-left: 0;
}

.wrapper {
	width: 100%;
	max-width: 68rem;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.wrapper:before,
.wrapper:after {
	content: " ";
	display: table;
}

.wrapper:after {
	clear: both;
}

.wrapper.small {
	max-width: 44rem;
}

.title {
	padding: 1.9em 0;
}






/* --------------------------------------------------- *\
	_animation view
\* --------------------------------------------------- */

@keyframes in {
	0%		{ opacity: 0; }
	100%	{ opacity: 1; }
}

@keyframes out {
	0%		{ opacity: 1; }
	100%	{ opacity: 0; }
}

.ng-enter { 
	animation: in 400ms both ease-out;
	animation-delay: 1000ms;
	z-index: 20;
}

.ng-leave { 
	animation: out 400ms both ease-in;
	z-index: 10;
}

#view {
	background-color: #fff;
}






/* --------------------------------------------------- *\
	_hero
\* --------------------------------------------------- */
#hero {
	width: 100%;
	height: 100vh;
	position: fixed;
	background-image: url(../images/hero-side.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	will-change: transform;
	top: 0;
}





/* --------------------------------------------------- *\
	_header
\* --------------------------------------------------- */
header {
	position: relative;
	height: 100vh;
	width: 100%;
	text-align: center;
	z-index: 1;
}

#catch {
	position: absolute;
	color: #fff;
	text-align: center;
	width: 100%;
	bottom: 8em;
	left: 0;
}

#catch h1,
#catch h2 {
	text-shadow: 0 0 0.3em rgba(0,0,0,0.2);
}

#catch h2 {
	text-transform: none;
	line-height: 1.3;
}

#logo {
	width: 5em;
	height: auto;
}

#defs {
	position: absolute;
}





/* --------------------------------------------------- *\
	_main
\* --------------------------------------------------- */
main {
	position: relative;
	background-color: #fff;
	box-shadow: 0 -15em 20em rgba(0,0,0,0.5);
}

main::before {
	content: "";
	display: block;
	background: url(../images/nat-triangle.svg) no-repeat;
	width: 100%;
	max-width: 40em;
	height: 9.7em;
	left: 50%;
	position: absolute;
	background-size: 100%;
	background-position: center bottom;
}

main::before {
	transform: translate(-50%, -99%);
	top: 1px;
}





/* --------------------------------------------------- *\
	_everyday
\* --------------------------------------------------- */

#everyday {
	padding: 4em 0 8em;
}

#everydays {
	margin-top: 6em;
	margin-bottom: 4em;
	display: flex;
	padding-left: 0;
	padding-right: 0;
}

.half-hex-block {
	display: block;
	color: #fff;
	position: relative;
	width: 50%;
}

.social-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.social-title h3 {
	text-shadow: 0 0 0.3em rgba(0,0,0,0.2);
}

.social-title img {
	width: 3em;
}





/* --------------------------------------------------- *\
	_projects
\* --------------------------------------------------- */

#projects {
	position: relative;
	padding: 4em 0 8em;
}

#projects::after {
	content: "";
	display: block;
	background: url(../images/nat-triangle.svg) no-repeat;
	width: 100%;
	max-width: 64em;
	height: 9.7em;
	left: 50%;
	position: absolute;
	background-size: 100%;
	background-position: center bottom;
	z-index: 1;
}

#projects::before {
	transform: translate(-50%, -99%);
	top: 1px;
}

#projects::after {
	transform: translate(-50%, 98%) rotate(180deg);
	bottom: 0;
}

.project {
	position: relative;
	width: 100%;
	cursor: pointer;
	display: block;
	max-width: 64em;
	margin: 0 auto;
	z-index: 5;
}

.project + .project {
	margin-top: 4em;
}

.project.half {
	width: 50%;
}

.project h2 {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #fff;
	transform: translate(-50%, -50%);
}

.project-block {
	position: relative;
}

.project-block + .project-block {
	margin-top: 8em;
}

.project-block h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	font-size: 6em;
	transform: translate(-50%, -50%);
	text-shadow: 0 0 0.3em rgba(0,0,0,0.2);
	line-height: 1;
}

.stripe {
	width: 100%;
	height: 62%;
	position: absolute;
	top: 0;
	transform: skewY(-16.8deg) scaleX(0);
	transform-origin: center;
	transition: all 0.5s ease;
}

.project-block:nth-child(even) .project + .stripe {
	transform: skewY(16.8deg) scaleX(0);
}

.project:hover + .stripe {
	width: 100%;
	transform: skewY(-16.8deg) scaleX(1);
}

.project-block:nth-child(even) .project:hover + .stripe {
	transform: skewY(16.8deg) scaleX(1);
}






/* --------------------------------------------------- *\
	_project detail
\* --------------------------------------------------- */

.project-view {
	padding-bottom: 2em;
	position: relative;
}

.project-view::after {
	content: "";
	display: block;
	background: url(../images/nat-triangle.svg) no-repeat;
	width: 100%;
	max-width: 64em;
	height: 9.7em;
	left: 50%;
	position: absolute;
	background-size: 100%;
	background-position: center bottom;
	z-index: 1;
}

.project-view::after {
	transform: translate(-50%, 98%) rotate(180deg);
	bottom: 0;
}

.ng-enter .banner {
	opacity: 0;
	transform: translateY(-1em);
}

.banner {
	width: 100%;
	max-width: 64em;
	transition: all 1s ease;
	opacity: 1;
	transform: translateY(0);
}

.media-container {
	position: relative;
}

.media-container .stripe {
	top: 2em;
	transform: skewY(-16.8deg) scaleX(1);
	z-index: 0;
}

.media {
	margin-top: 4em;
	margin-bottom: 4em;
}

.website {
	padding-top: 60%;
	max-width: 60em;
	margin: 0 auto;
	position: relative;
}

.website img {
	display: block;
	box-shadow: 0 0 75px 0px rgba(0,0,0,0.2);
}

.ng-enter .desktop,
.ng-enter .tablet,
.ng-enter .mobile {
	opacity: 0;
	transform: translateY(-1em);
}

.desktop {
	width: 100%;
	max-width: 60em;
	position: absolute;
	top: 0;
	transition: all 1s ease 200ms;
	opacity: 1;
	transform: translateY(0);
}

.tablet {
	max-width: 24em;
	width: 40%;
	position: absolute;
	right: 4em;
	bottom: 0;
	transition: all 1s ease 400ms;
	opacity: 1;
	transform: translateY(0);
}

.mobile {
	max-width: 10em;
	width: 16.66%;
	position: absolute;
	bottom: -2em;
	left: 42%;
	transition: all 1s ease 600ms;
	opacity: 1;
	transform: translateY(0);
}

.brief {
	margin: 0.8em 0 0.3em;
}

.technology {
	list-style-type: none;
	margin: 2em 0;
}

.technology li {
	display: inline-block;
	font-weight: bold;
	font-family: montserrat;
	color: #bfbfbf;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 0 0.5em;
}

#next-project {
	margin-top: 8em;
}

#next-project .project-block:nth-child(even) .project {
	/*float: right;*/
}

#next-project .project {
	max-width: 52em;
	/*float: left;*/
}

#next-project .project-block:before,
#next-project .project-block:after {
	content: " ";
	display: table;
}

#next-project .project-block:after {
	clear: both;
}

#next-project .project-block + .project-block {
	margin-top: 6em;
}






/* --------------------------------------------------- *\
	_back button
\* --------------------------------------------------- */

.swipe {
	position: relative;
	display: inline-block;
	color: #493944;
	font-size: 1.5em;
	font-weight: bold;
	font-family: Montserrat;
	text-transform: uppercase;
	padding: 0 0.5em;
	margin: 1.6rem 0;
}

.cover {
	height: 0.7em;
	position: absolute;
	top: 50%;
	left: 0;
	color: #fff;
	overflow: hidden;
	background-color: #493944;
	transform-origin: center top;
	transform: skewY(-16.8deg) translateY(-50%);
	transition: all 250ms cubic-bezier(0.22, 0.61, 0.36, 1);
	height: 0;
	padding: 0 0.5em;
}

.swipe:hover .cover {
	transform: skewY(-16.8deg) translateY(-50%);
	height: 100%;
}

.swipe:hover .cover span {
	transform: skewY(16.8deg) translateY(-50%);
}

.cover span {
	transform-origin: center top;
	top: 50%;
	transition: all 0.3s ease;
	position: relative;
	transform: skewY(16.8deg) translateY(-50%);
	display: block;
}






/* --------------------------------------------------- *\
	_about
\* --------------------------------------------------- */

#about {
	padding: 4em 0 8em;
}

#portrait {
	width: 100%;
	max-width: 40em;
	margin-bottom: 4em;
}






/* --------------------------------------------------- *\
	_footer
\* --------------------------------------------------- */

footer {
	background-color: #493944;
	padding: 12em 0 2em;
	position: relative;
}

footer ul {
	padding: 0;
	margin: 0;
}

footer li {
	display: inline-block;
}

footer a {
	width: 3em;
	margin: 0 1em;
	display: block;
}

footer a img {
	width: 100%;
	height: auto;
}





/* --------------------------------------------------- *\
	_responsive
\* --------------------------------------------------- */

@media all and (max-width: 90em) {
	main::before {
		max-width: 40em;
	}
}

@media all and (max-width: 70em) {
	#hero {
		position: relative;
	}

	header {
		position: absolute;
		top: 0;
	}

	#catch {
		max-width: none;
		bottom: 8em;
		left: 0;
		width: 100%;
		text-align: center;
	}

	main::before {
		max-width: 35em;
	}

	#projects {
		padding: 4em 0;
	}
}

@media all and (max-width: 50em) {

	h3 {
		font-size: 2.5em;
	}

	p {
		font-size: 1.1em;
	}

	.wrapper {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	#projects {
	}

	.project {
		width: 165%;
		left: 50%;
		transform: translateX(-50%);
	}

	.project-block {
		overflow: hidden;
	}

	.project-block h1 {
		font-size: 13vw;
	}

	.stripe {
		display: none;
	}

	.tablet {
		right: 8%;
	}

	.mobile {
		left: 46%;
	}

	#next-project .project-block .project,
	#next-project .project-block:nth-child(even) .project {
		float: none;
	}

	footer {
		padding: 25vw 0 2em;
	}
}


@media all and (max-width: 50em) and (orientation: landscape) {
	#catch {
		bottom: 21%;
		font-size: 2vw;
	}

	main::before {
		max-width: 25em;
	}

	main {
		box-shadow: 0 -8em 20em rgba(0,0,0,0.5);
	}

	#everyday {
		padding: 4em 0;
	}

	#everydays {
		max-width: 30em;
	}

	.project {
		width: 85%;
	}
}

@media all and (max-width: 35em) {
	p {
		font-size: 1em;
	}

	#catch {
		font-size: 3vw;
	}

	main {
		box-shadow: 0 -10em 10em rgba(0,0,0,0.4);
	}

	#everyday {
		padding: 2em 0 0;
	}

	.technology {
		margin: 1em 0;
	}

	.technology li {
		font-size: 1.2em;
	}

	.media {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.project-block + .project-block {
		margin-top: 4em;
	}

	.mobile {
		bottom: -1em;
	}

	footer a {
		width: 2.5em;
	}
}

@media all and (max-width: 25em) {
	#everyday h2 {
		font-size: 8vw;
	}

	.social-title img {
		width: 2.5em;
	}
}